@font-face{
    font-family:norse-bold;
    src: url(./assets/Norse-Bold.otf);
}

*{
    box-sizing: border-box;
    font-size: max(1vh,1vw);
}
.left{
    position: absolute;
    height: 100rem;
    width: 30%;
    background-image: url(./assets/pic1.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.logo{
    height: 10em;
}

.odin{
    background-color: black;
    opacity: 50%;
}

.odin>div{
    font-family: norse-bold, sans-serif;
    color: white;
    font-size: 6rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 3em;
}


h1{
    font-size: 2em;
}

.right{
    margin-left:30%;
}

.para,.create-account{
    height: 33rem;
    width: auto;
    background-color: rgb(255, 252, 248);
}
.form{
    margin: 20px 0 20px 0;
    height: 31rem;
    padding-left: 2em;
}

input{
    border-radius: 3px;
    border: 1px #E5E7EB solid;
}

.para{
    padding: 20em 10em 2em 2em;
    /* font-size: 1em */
}

.create-account{
    padding:2em;
}

.create-btn{
    background-color: #596D48;
    color: aliceblue;
    font-weight:bold;
    padding:3px;
    border-radius: 10px;
    height: 10%;
    width: 30%;
}

a{
    color:#596D48;
    font-weight: bold;
    text-decoration: none;
}